/*--------------------------------------------------------------------- 
import Fonts 
---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/*--------------------------------------------------------------------- 
import Files 
---------------------------------------------------------------------*/



/*--------------------------------------------------------------------- 
font-family: 'Lato', sans-serif;
font-family: 'Prata', serif;
font-family: 'Roboto Condensed', sans-serif;

---------------------------------------------------------------------*/

* {
    margin: 0px;
    padding: 0px
}

html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
     color: black;
     font-size: 16px;
     font-family: 'Lato', sans-serif;
     line-height: 1.80857;
     font-weight: normal
}
h1 {
    font-family: 'Prata', serif;
    font-weight: 700;
    font: size 70px;
    margin: 20px;
    padding: 20px
}
ol {
    text-align: left;
}
ul {
    text-align: left;
}
h2 {
    font-family: 'Prata', serif;
    font: size 40px;
    padding: 20px 0px 0px 0px
}
h3 {
    font-family: 'Prata'
}
h4 {
    font-family: 'Prata'
}
h5 {
    font-family: 'Prata'
}
h6  {
    font-family: 'Prata'
}
.recipe-card {
    width: 400px;
    text-align: center;
    background-color: blanchedalmond;
    margin: 50px;
    padding: 50px;
    box-shadow: 2px 2px black;

}
.recipe-list {
    padding: 50px;
    background-color: blanchedalmond;
}